Project3Task1Client/src/META-INF/wsdl/localhost_10090/Project3Task1Server/BlockChain.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://srossg.andrew.cmu.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://srossg.andrew.cmu.edu/" name="BlockChain">
<types>
<xsd:schema>
<xsd:import namespace="http://srossg.andrew.cmu.edu/" schemaLocation="http://localhost:10090/Project3Task1Server/BlockChain?xsd=1"/>
</xsd:schema>
</types>
<message name="getTime">
<part name="parameters" element="tns:getTime"/>
</message>
<message name="getTimeResponse">
<part name="parameters" element="tns:getTimeResponse"/>
</message>
<message name="addBlock">
<part name="parameters" element="tns:addBlock"/>
</message>
<message name="addBlockResponse">
<part name="parameters" element="tns:addBlockResponse"/>
</message>
<message name="NoSuchAlgorithmException">
<part name="fault" element="tns:NoSuchAlgorithmException"/>
</message>
<message name="UnsupportedEncodingException">
<part name="fault" element="tns:UnsupportedEncodingException"/>
</message>
<message name="getLatestBlock">
<part name="parameters" element="tns:getLatestBlock"/>
</message>
<message name="getLatestBlockResponse">
<part name="parameters" element="tns:getLatestBlockResponse"/>
</message>
<message name="toString1">
<part name="parameters" element="tns:toString1"/>
</message>
<message name="toString1Response">
<part name="parameters" element="tns:toString1Response"/>
</message>
<message name="isChainValid">
<part name="parameters" element="tns:isChainValid"/>
</message>
<message name="isChainValidResponse">
<part name="parameters" element="tns:isChainValidResponse"/>
</message>
<portType name="BlockChain">
<operation name="getTime">
<input wsam:Action="http://srossg.andrew.cmu.edu/BlockChain/getTimeRequest" message="tns:getTime"/>
<output wsam:Action="http://srossg.andrew.cmu.edu/BlockChain/getTimeResponse" message="tns:getTimeResponse"/>
</operation>
<operation name="addBlock">
<input wsam:Action="http://srossg.andrew.cmu.edu/BlockChain/addBlockRequest" message="tns:addBlock"/>
<output wsam:Action="http://srossg.andrew.cmu.edu/BlockChain/addBlockResponse" message="tns:addBlockResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://srossg.andrew.cmu.edu/BlockChain/addBlock/Fault/NoSuchAlgorithmException"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://srossg.andrew.cmu.edu/BlockChain/addBlock/Fault/UnsupportedEncodingException"/>
</operation>
<operation name="getLatestBlock">
<input wsam:Action="http://srossg.andrew.cmu.edu/BlockChain/getLatestBlockRequest" message="tns:getLatestBlock"/>
<output wsam:Action="http://srossg.andrew.cmu.edu/BlockChain/getLatestBlockResponse" message="tns:getLatestBlockResponse"/>
</operation>
<operation name="toString1">
<input wsam:Action="http://srossg.andrew.cmu.edu/BlockChain/toString1Request" message="tns:toString1"/>
<output wsam:Action="http://srossg.andrew.cmu.edu/BlockChain/toString1Response" message="tns:toString1Response"/>
</operation>
<operation name="isChainValid">
<input wsam:Action="http://srossg.andrew.cmu.edu/BlockChain/isChainValidRequest" message="tns:isChainValid"/>
<output wsam:Action="http://srossg.andrew.cmu.edu/BlockChain/isChainValidResponse" message="tns:isChainValidResponse"/>
<fault message="tns:NoSuchAlgorithmException" name="NoSuchAlgorithmException" wsam:Action="http://srossg.andrew.cmu.edu/BlockChain/isChainValid/Fault/NoSuchAlgorithmException"/>
<fault message="tns:UnsupportedEncodingException" name="UnsupportedEncodingException" wsam:Action="http://srossg.andrew.cmu.edu/BlockChain/isChainValid/Fault/UnsupportedEncodingException"/>
</operation>
</portType>
<binding name="BlockChainPortBinding" type="tns:BlockChain">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getTime">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addBlock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
</operation>
<operation name="getLatestBlock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="toString1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="isChainValid">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="NoSuchAlgorithmException">
<soap:fault name="NoSuchAlgorithmException" use="literal"/>
</fault>
<fault name="UnsupportedEncodingException">
<soap:fault name="UnsupportedEncodingException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BlockChain">
<port name="BlockChainPort" binding="tns:BlockChainPortBinding">
<soap:address location="http://localhost:10090/Project3Task1Server/BlockChain"/>
</port>
</service>
</definitions>