Project3Task1Client/src/META-INF/wsdl/localhost_10090/Project3Task1Server/BlockChainServer.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://srossg.andrew.cmu.edu/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://srossg.andrew.cmu.edu/">

<xs:element name="VerifyTransactions" type="tns:VerifyTransactions"/>

<xs:element name="VerifyTransactionsResponse" type="tns:VerifyTransactionsResponse"/>

<xs:element name="addTransaction" type="tns:addTransaction"/>

<xs:element name="addTransactionResponse" type="tns:addTransactionResponse"/>

<xs:element name="viewTransactions" type="tns:viewTransactions"/>

<xs:element name="viewTransactionsResponse" type="tns:viewTransactionsResponse"/>

<xs:complexType name="viewTransactions">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="viewTransactionsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="VerifyTransactions">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="VerifyTransactionsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addTransaction">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
<xs:element name="difficulty" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addTransactionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>