Project3Task1Client/src/META-INF/wsdl/localhost_10090/Project3Task1Server/BlockChainServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://srossg.andrew.cmu.edu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://srossg.andrew.cmu.edu/" name="BlockChainServer">
<types>
<xsd:schema>
<xsd:import namespace="http://srossg.andrew.cmu.edu/" schemaLocation="http://localhost:10090/Project3Task1Server/BlockChainServer?xsd=1"/>
</xsd:schema>
</types>
<message name="addTransaction">
<part name="parameters" element="tns:addTransaction"/>
</message>
<message name="addTransactionResponse">
<part name="parameters" element="tns:addTransactionResponse"/>
</message>
<message name="VerifyTransactions">
<part name="parameters" element="tns:VerifyTransactions"/>
</message>
<message name="VerifyTransactionsResponse">
<part name="parameters" element="tns:VerifyTransactionsResponse"/>
</message>
<message name="viewTransactions">
<part name="parameters" element="tns:viewTransactions"/>
</message>
<message name="viewTransactionsResponse">
<part name="parameters" element="tns:viewTransactionsResponse"/>
</message>
<portType name="BlockChainServer">
<operation name="addTransaction">
<input wsam:Action="http://srossg.andrew.cmu.edu/BlockChainServer/addTransactionRequest" message="tns:addTransaction"/>
<output wsam:Action="http://srossg.andrew.cmu.edu/BlockChainServer/addTransactionResponse" message="tns:addTransactionResponse"/>
</operation>
<operation name="VerifyTransactions">
<input wsam:Action="http://srossg.andrew.cmu.edu/BlockChainServer/VerifyTransactionsRequest" message="tns:VerifyTransactions"/>
<output wsam:Action="http://srossg.andrew.cmu.edu/BlockChainServer/VerifyTransactionsResponse" message="tns:VerifyTransactionsResponse"/>
</operation>
<operation name="viewTransactions">
<input wsam:Action="http://srossg.andrew.cmu.edu/BlockChainServer/viewTransactionsRequest" message="tns:viewTransactions"/>
<output wsam:Action="http://srossg.andrew.cmu.edu/BlockChainServer/viewTransactionsResponse" message="tns:viewTransactionsResponse"/>
</operation>
</portType>
<binding name="BlockChainServerPortBinding" type="tns:BlockChainServer">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="VerifyTransactions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewTransactions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BlockChainServer">
<port name="BlockChainServerPort" binding="tns:BlockChainServerPortBinding">
<soap:address location="http://localhost:10090/Project3Task1Server/BlockChainServer"/>
</port>
</service>
</definitions>